{% extends 'UtsHotelBundle:Default:index.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Поиск отелей</h1>
        {{ form(searchForm) }}
    </div>
    <div class="row">
        <div class="col-lg-12"><h1>{{ request.city.name }} {{ request.checkIn|date('d.m.Y') }} - {{ request.checkOut|date('d.m.Y') }}</h1></div>
    </div>
    {% if request.error %}
        <div class="row">
            <div class="col-lg-12 alert alert-danger">
                Поиск завершился ошибкой, попробуйте повторить или изменить параметры
            </div>
        </div>
    {% elseif request.new %}
        <div class="row">
            <div class="col-lg-12 alert alert-warning">
                Поиск ещё не был завершен. Повторите попытку позже.
            </div>
        </div>
    {% else %}
        {# total items count #}
        <div class="row">
            <div class="col-lg-12 text-muted">
                Найдено отелей: {{ pagination.getTotalItemCount }}
            </div>
        </div>
        <div class="center-block">
            {{ knp_pagination_render(pagination) }}
        </div>
        {# table body #}
        {% for hotel in pagination.items %}
            <div class="row bg-info">
                <div class="col-lg-1">{{ loop.index }}</div>
                <div class="col-lg-6">
                    <span class="text-capitalize">{{ hotel.name }}</span>
                </div>
                <div class="col-lg-2">от {{ hotel.searchResults.first.price }} {{ hotel.searchResults.first.currency }}</div>
            </div>

            {% for item in hotel.searchResults %}

                <div class="row">
                    <div class="col-lg-1">&nbsp;</div>
                    <div class="col-lg-6">
                        <span class="text-primary">{{ item.roomName }}</span>
                        {% if(item.mealName) %}
                        <span class="text-muted">({{ item.mealName }})</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-2">
                        {% if item.specialOffer %}
                            <span style="text-decoration: line-through; color: red">{{ item.price }}</span>
                            {{ item.price - item.discount }}
                        {% else %}
                            {{ item.price }}
                        {% endif %}

                        {{ item.currency }}

                    </div>
                        <div class="col-lg-3">

                        {% if item.specialOffer %}
                            "{{ item.specialOffer.name }}"<br>
                            скидка: <strong>{{ item.discount }} {{ item.currency }}
                            {% if item.specialOffer.discountType == 'm' %}
                                ( {{ item.specialOffer.discountValue }} % )
                            {% endif %}
                                </strong>
                        {% endif %}

                        </div>
                </div>

            {% endfor %}
        {% endfor %}
        {# display navigation #}
        <div class="center-block">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
